html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $box-color;
    background: $box-bg-color;
    border-bottom: solid 6px $box-border-color;
    box-shadow: 0 3px 6px $box-shadow-color;
    border-radius: 9px;
    padding: 8px 19px;
    width: 50%;
    height: 50%;

    p {
        margin: 0;
        padding: 0;
        font-size: 60px;
    }
}
